<div class="row text-center">
        <div class="col-6 col-md-2 offset-md-2 d-inline-block dropdown">
                <a class="font-weight-bold nav-link black-txt-color" href="#" id="supplements-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Supplements
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="supplements-link">
                    <a href="" class="dropdown-item yellow-txt-color">Protein</a>
                    <a href="" class="dropdown-item yellow-txt-color">Pre-workout</a>
                    <a href="" class="dropdown-item yellow-txt-color">Vitamins</a>
                    <a href="" class="dropdown-item yellow-txt-color">All Supplements</a>
                </div>
        </div>     

        <div class="col-6 col-md-2 d-inline-block dropdown">
                <a class="font-weight-bold nav-link black-txt-color" href="#" id="clothes-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Clothes
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="clothes-link">
                    <a href="" class="dropdown-item yellow-txt-color">Tanks</a>
                    <a href="" class="dropdown-item yellow-txt-color">t-shirts</a>
                    <a href="" class="dropdown-item yellow-txt-color">Hoodies</a>
                    <a href="" class="dropdown-item yellow-txt-color">All clothes</a>
                </div>
        </div>

        <div class="col-6 col-md-2 d-inline-block dropdown">
                <a class="font-weight-bold nav-link black-txt-color" href="#" id="accessories-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Belts & Wraps
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                    <a href="" class="dropdown-item yellow-txt-color">Belts</a>
                    <a href="" class="dropdown-item yellow-txt-color">Straps & Wraps</a>
                    <a href="" class="dropdown-item yellow-txt-color">Chalk</a>
                    <a href="" class="dropdown-item yellow-txt-color">All Accessories</a>
                </div>
            </div>

        <div class="col-6 col-md-2 d-inline-block dropdown">
                <a class="font-weight-bold nav-link black-txt-color" href="#" id="allproducts-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All Products
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="allproducts-link">
                    <a href="" class="dropdown-item yellow-txt-color">By Price</a>
                    <a href="" class="dropdown-item yellow-txt-color">By Rating</a>
                    <a href="" class="dropdown-item yellow-txt-color">By Categroy</a>
                    <a href="" class="dropdown-item yellow-txt-color">Clearance Items</a>
                </div>
             </div>
    </div>