/*--- Hero Image ---*/

/* Darken background solution from https://stackoverflow.com/questions/26621513/darken-css-background-image */
.header-container{ 
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/background_1.jpg') no-repeat fixed;
    background-position: center center;
    background-size: cover;
    height: 80vh;
    padding-top:10px;
}

.hero-text-container{
    padding-top:11rem;
}


/*---Buttons---*/

.btn-hero,
.btn-home{
    font-weight: bold;
    text-transform: uppercase;
}

.btn-hero:hover{
    background-color:rgba(255, 255, 255, 0.589);
    color:#ffec00;
}

.btn-home:hover{
    background-color:rgb(44,44,43);
    color:#ffec00;
}

/*----- Product Carosuel---*/

/* Setup for product Carosuel came from
https://stackoverflow.com/questions/20007610/bootstrap-carousel-multiple-frames-at-once */ 
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
    justify-content: center;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
    transform: translateX(0);
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230a0a0a' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230a0a0a' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
/*-- show 1 slide on small mobile devices--*/
@media (max-width: 320px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}
/*-- show 2 slides on large mobile devices--*/
@media (min-width: 512px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(50%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-50%);
    }
}

/*-- show 3 slides on tablet sized devices--*/
@media (min-width: 768px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.33%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.33%);
    }
}

/*-- show 5 slides on larger devices--*/
@media (min-width: 1024px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(16.6%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-16.6%);
    }
}

/*---- Classes Images ------*/
.class-img-container{
    width:33%;
    margin:0;
}

.class-img{
    max-height:100%;
    max-width: 100%;  
}

.classes-txt{
    font-size: 2em;
    font-weight: bold;
}
/*---- Media Commands---*/
@media only screen and (min-width: 1981px){

    .hero-text-container h5{
        font-size: 2rem;
    }

    .hero-text-container h1{
        font-size: 4rem;
    }

    .btn-hero{
        width:400px;
        height:90px;
        font-size: 3rem;
    }
    .btn-home{
        width:450px;
        height:90px;
        font-size: 3rem;
    }
}




@media only screen and (min-width: 1024px) and (max-width: 1980px){
    .hero-text-container h5{
        font-size: 1.5rem;
    }

    .hero-text-container h1{
        font-size: 3rem;
    }

    .btn-hero,
    .btn-home{
        width:300px;
        height:70px;
        font-size: 2rem;
    }
}

@media only screen and (min-width:411px) and (max-width:1024px){
    .btn-hero {
        width:220px;
        height:55px;
        font-size: 1.6rem;
    }
    .btn-home{
        width:300px;
        height:70px;
        font-size: 2rem;
    }
}

@media only screen and (max-width:320px){
    .hero-text-container h5{
        display: none;
    }
}