{% load static %}
<div class="row mx-auto my-auto text-center">
    <div id="product-carousel" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner w-100" role="listbox">
            {% for product in products %}
            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="img-fluid carousel-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev w-auto" href="#product-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next  w-auto" href="#product-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>