{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'store/css/store.css' %}">
{% endblock %}

{% block extra_title %}Store{% endblock %}
{% block extra_hero_text_after %}
<h1 class="d-none d-md-block text-center main-title">Membership</h1>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row text-center">
        <div class="col-12">
            <h2 class="section-heading my-4">Membership Options</h2>
                <hr class="short-hr">
        </div>
    </div>
</div>
<div class="container-fluid">
    {% if profile.membership_type == 3 %}
        <div class="row">
        <div class="col-12 text-center">
            <img class="member-symbol" src="{% static 'store/images/gold.jpg' %}">
        </div>
        <div class="col-12 offset-md-2 offset-xl-4 col-md-8 col-xl-4 text-center my-5">
            <h4>You are currently a gold member and are enjoying the top benefits with access to all our classes, a 10% discount on all store items and free delivery!!!</h4>
        </div>
    {% endif %}
    <div class="row {% if profile.membership_type == 2 or profile.membership_type == 3 %} d-none {% endif %}}">
        <div class="col-12 col-md-6 offset-lg-2 col-lg-4 text-center">
            <img class="member-symbol" src="{% static 'store/images/bronze.jpg' %}" alt="bronze icon">
        </div>
        
    <div class="col-12 col-md-6 col-lg-4 my-auto %">
        <h5>Bronze Membership</h5>
        {% if profile.membership_type == 1 %}
            <p><strong>You are currently a bronze member! You can checkout faster and are able to purchase gym membership! Check out the membership options below!</strong></p>
        {% else %}
        <p>You automatically become a bronze member just by signing up to the site! This allows you to view members only areas, purchase gym membership and to checkout of the store quickly!</p>
        <a href="{% url 'account_signup' %}" class="btn btn-submit">Sign up to Gold's gym for free!</a>
        {% endif %}
    </div>
    </div>
    {% for type in member_types %}
    <div class="row {% if profile.membership_type == 3 %} d-none {% endif %}">
        <div class="col-12 col-md-6 offset-lg-2 col-lg-4 text-center">
                {% if type.image %}
                    <img class="member-symbol" src="{{ type.image.url }}" alt="{{ type.name }}">
                {% else %}
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ type.name }}">
                {% endif %}
            </div>
        <div class="col-12 col-md-6 col-lg-4 my-auto">
            <h5>{{ type.name }} - 1 year</h5>
            {% if profile.membership_type == 2 and type.name == 'Silver Membership' %}
            <p><strong>You are currently a silver member! You are able to sign up to our gyms classes and have full access to it's facilites!! Upgrade to gold to get massive savings in our shops!</strong></p>
            {% else %}
            <p> {{ type.description }}</p>
            {% endif %}
            {% if purchase %}
             <form class="form" action="{% url 'add_to_bag' type.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12 my-3 {% if profile.membership_type == 2 and type.name == 'Silver Membership' %} d-none {% endif %}">
                            <input type="submit" class="btn btn-submit rounded text-uppercase" value="Purchase membership">
                            <input class="d-none" type="number" name="quantity" value="1" data-item_id="{{ type.id }}" id="id_qty_{{ type.id }}">
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </div>
            </form>
            {% else %}
            <p>Please sign up to the website to purchase membership to the gym</p>
            <a href="{% url 'account_signup' %}" class="btn btn-submit my-3">Sign up to Gold's gym for free!</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>







{% endblock %}
