{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'store/css/store.css' %}">
{% endblock %}

{% block extra_title %}Store{% endblock %}
{% block extra_hero_text_after %}
<h1 class="text-center main-title">Store</h1>
{% endblock %}

{% block content %}
<div class="container-fluid d-none d-md-block my-3 mx-auto">
    <div class="row">
        <div class="col-xl-3 col-md-6 my-2 my-xl-0 category-link-container">
            <a href="{% url 'store' %}?category=protein,pre_workout,vitamins"><img
                    src="{% static 'store/images/gym_supplements.jpg'%}" alt="Image of gym supplements"
                    class="link-img hover-effect">
                <div class="link-text yellow-txt-color">Supplements</div>
            </a>
        </div>
        <div class="col-xl-3 col-md-6 my-2 my-xl-0 category-link-container">
            <a href="{% url 'store' %}?category=vests,t_shirts,hoodies"><img
                    src="{% static 'store/images/gym_clothing.jpg'%}" alt="Image of gym clothing"
                    class="link-img hover-effect">
                <div class="link-text yellow-txt-color">Clothing</div>
            </a>
        </div>
        <div class="col-xl-3 col-md-6 category-link-container">
            <a href="{% url 'store' %}?category=belts,straps_wraps,chalk"><img
                    src="{% static 'store/images/gym_accessories.jpg'%}" alt="Image of gym accessories"
                    class="link-img hover-effect">
                <div class="link-text yellow-txt-color">Accessories</div>
            </a>
        </div>
        <div class="col-xl-3 col-md-6 category-link-container">
            <a href="{% url 'store' %}?category=clearance"><img src="{% static 'store/images/clearance.jpg'%}"
                    alt="Image of clearnace icon" class="link-img hover-effect" id="clearance-img">
                <div class="link-text yellow-txt-color">Clearance</div>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-12">
            <h2 class="section-heading my-4">All Products</h1>
                <hr class="short-hr">
        </div>
        <div class="col-12 offset-md-2 col-md-8 offset-xl-4 col-xl-4 mb-3">
            <form method="GET" action="{% url 'store' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0" type="text" name="q"
                        placeholder="Search our site">
                    <div class="input-group-append">
                        <button class="form-control btn border border-black rounded" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container mx-auto">
    {% include 'store/includes/shop_nav.html' %}
</div>
<div class="container-fluid">
    <div class="row mt-1 mb-2">
        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
            <div class="sort-select-wrapper w-50">
                <select id="sort-selector"
                    class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                    </option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                        (low to high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                        (high to low)</option>
                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>
                        Rating (low to high)</option>
                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>
                        Rating (high to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                        (A-Z)</option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
                        (Z-A)</option>
                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                        Category (A-Z)</option>
                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                        Category (Z-A)</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-6 order-md-first">
            <p class="text-muted mt-3 text-center text-md-left">
                {% if search_term or current_categories or current_sorting != 'None_None' %}
                <span class="small"><a href="{% url 'store' %}">Store Home</a> | </span>
                {% endif %}
                {{ products|length }} Products{% if search_term %} found for
                <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 product-container my-3">
            <div class="card product-card border-1">
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid border" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
                <div class="card-body border-dark pb-0">
                    <p class="mb-0">{{ product.name }}</p>
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                            {% if product.category %}
                            <p class="small mt-1 mb-0">
                                <a href="{% url 'store' %}?category={{ product.category.name }}" class="text-muted">
                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                </a>
                            </p>
                            {% endif %}
                            {% if product.rating %}
                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} /
                                5</small>
                            {% else %}
                            <small class="text-muted">No Rating</small>
                            {% endif %}
                            {% if request.user.is_superuser %}
                            <small class="ml-3">
                                <a href="">Edit</a> |
                                <a class="text-danger" href="">Delete</a>
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up yellow-txt-color mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0);
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();

        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction)

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl)
        }
    })
</script>
{% endblock %}