.card-container{
    margin: 2em auto;
}

.card{
    max-width: 40rem;
    border: 1px solid #0f0f0f;
    margin:0 auto;
}

.class-signup-btn{
    background: none;
    border:none;
    outline:none;
}

.table td{
    text-align: center;
}

.table td:hover{
    background-color: rgba(0,0,0,.075);
}

.class-signup-btn:active,
.class-signup-btn:focus{
    outline:none;
    border:none;
}