{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Goblin+One&family=Raleway:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block core_js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/32bcff04b3.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Gold's Gym {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <div class="header-container container-fluid">
        <header class="row nav-container w-100">
            <div class="col-3 col-sm-4 logo-container text-center">
                <a href="{% url 'index' %}">
                    <img src="{% static 'images/logo.png' %}" alt="Gold Gyms logo" id="logo">
                </a>
            </div>
            <div class="col-9 col-sm-8 navbar-container text-center my-auto">
                <div class="d-inline-block d-xl-none">
                    <li class="list-inline-item nav-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user fa-lg">&nbsp;</i>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="#" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item nav-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="{% url 'view_bag' %}"><i class="fas fa-shopping-cart fa-lg"></i></a>
                    </li>
                </div>
                <nav class="navbar navbar-expand-xl d-inline-block">
                    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
                        data-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon d-inline-block"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="main-nav">
                            <ul class="d-none d-xl-inline-flex navbar-nav">
                                <li class="nav-item list-inline-item">
                                    <a href="#" class="nav-link">About</a>
                                </li>
                                <li class="nav-item list-inline-item">
                                    <a href="{% url 'store' %}" class="nav-link">Store</a>
                                </li>
                                <li class="nav-item list-inline-item">
                                    <a href="#" class="nav-link">Classes</a>
                                </li>
                                <li class="nav-item list-inline-item">
                                    <a href="#" class="nav-link">Membership</a>
                                </li>
                            </ul>
                            <ul class="d-block d-xl-none navbar-nav dropdown-menu dropdown-menu-right">
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-item">About</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-item">Store</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-item">Classes</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-item">Membership</a>
                                </li>
                            </ul>        
                    </div>    
                </nav>
                <div class="d-none d-xl-inline-block">
                    <li class="list-inline-item nav-item dropdown">
                        <a class="text-black nav-link align-content-center" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <i class="fas fa-user fa-lg"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="#" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                        
                    </li>
                    <li class="list-inline-item nav-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="{% url 'view_bag' %}"><i class="fas fa-shopping-cart fa-lg"></i>
                            </a>
                    </li>
                </div>
            </div>
            <div class="row hero-text-container w-100">
                <div class="col-12">
                {% block extra_hero_text_before %}{% endblock %}
                <h1 class="text-center main-title">Gold's Gym</h1>
                {% block extra_hero_text_after %}{% endblock %}
                </div>
            </div>
            {% block header_call_to_action %}{% endblock %}
        </header>
    </div>
    <!--
    {% if messages %}
        <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
        </div>
    {% endif %}
    -->
    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="container-fluid">
        <div class="row footer-container">
            <div class="d-none d-lg-inline-block col-lg-4 text-center">
                 <span>JohnGold Designs <i class="far fa-copyright"></i></span>
            </div>
            <div class="col-6 col-lg-4 text-center">
                <a href="https://twitter.com/explore" target="_blank"><i class="fab fa-twitter-square fa-lg"></i></a>
				<a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
				<a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square fa-lg"></i></a>
            </div>
            <div class="col-6 col-lg-4 text-center">
                <span>Contact Us</span>
            </div>

        </div>
    </footer>

    {% block postloadjs %}
    {% endblock %}
</body>

</html>