.category-link-container{
    position: relative;
    text-align: center;
}


.link-img{
    filter: brightness(80%);
    object-fit: cover;
    height: 230px;  
}

.link-img:hover{
    filter:brightness(50%);
}

.link-text{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:2em;
    font-weight: bold;
    text-shadow: 1px 1px #0a0a0a;
    z-index:2;
}

.product-card a img{
    object-fit: cover;
    height:400px;
}

.product-card{
    width:90%;
    margin:auto 1rem;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.member-symbol{
    height:20rem;
}