{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'classes/css/classes.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
			<div class="row">
				<div class="col-12 text-center">
					<h2 class="uppercase section-header my-3">Classes</h2>
					<hr class="short-hr">
				</div>
			</div>
			<div class="row">
				<div class="col-12 offset-lg-3 col-lg-6 offset-lg-3 text-center">
                    {% if profile.membership_type == 2 or profile.membership_type == 3 %}
                    <h6><strong>Below is a list of our available classes, use the table at the bottom of the page to sign up</strong></h6>
                    {% else %}
                    <h6><strong>Become a silver of gold member of the gym and sign up to one of our classes today!</strong></h6>
                    {% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-6 col-lg-4 card-container">
					<div class="card">
						<img class="card-img-top card-img" src="{% static 'images/mobility_class.jpg' %}" alt="Image representing mobility class">
						<div class="card-body text-center">
							<h5>Mobility</h5>
							<hr class="black-hr">
                            <p class="card-text">
								Our Mobility class is an hour of going through an extensive range of movements to improve flexibility and core strength and reduce risks of injury.
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4 card-container">
					<div class="card">
						<img class="card-img-top card-img" src="{% static 'images/log_class.jpg' %}" alt="Image representing log press class">
						<div class="card-body text-center">
							<h5>Log Press</h5>
							<hr class="black-hr">
                            <p class="card-text">
								The log press class is a technical class focused on introducing/improving clients to using a strongman log and increasing their total log press.
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4 card-container">
					<div class="card">
						<img class="card-img-top card-img" src="{% static 'images/deadlift_class.jpg' %}" alt="Image representing powerlifitng class">
						<div class="card-body text-center">
                            <h5>Powerlifting</h5>
							<hr class="black-hr">
                        	<p class="card-text">
								The powerlifitng class focuses on the 3 key lifts - deadlifts, squats and bench and aims at improving your total in a group environment.
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4 card-container">
					<div class="card">
						<img class="card-img-top card-img" src="{% static 'images/crossfit_class.jpg' %}" alt="Image representing crossfit class">
						<div class="card-body text-center">
							<h5>Crossfit</h5>
							<hr class="black-hr">
                            <p class="card-text">
								The crossfit class is a high intensity interval training class with a focus on olympic lifting and body-weight movements. 
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4 card-container">
					<div class="card">
						<img class="card-img-top card-img" src="{% static 'images/bootcamp_class.jpg' %}" alt="Image representing boot-camp class">
						<div class="card-body text-center">
							<h5>Bootcamp</h5>
							<hr class="black-hr">
                            <p class="card-text">
								The bootcamp class is a cardiovascular class which aims to improve your overall fitness with high intensity circuits. 
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4 card-container">
					<div class="card">
						<img class="card-img-top card-img" src="{% static 'images/stones_class.jpg' %}" alt="Image representing atlas stones class">
						<div class="card-body text-center">
							<h5>Atlas Stones</h5>
								<hr class="black-hr">
                            <p class="card-text">
								The Atlas stones class is a technical class that introduces you how to safely use and progess with this iconic equipment. 
							</p>
						</div>
					</div>
				</div>
            </div> 
            {% if profile.membership_type == 2 or profile.membership_type == 3 %}
            <div class="row">
                <div class="col-12 text-center">
                <h2 class="my-3">Available Classes</h2>
                <hr class="short-hr">
                <p><strong>Signing up for a class is as easy as clicking on the class you wish to attend!</strong></p>
                <p>If you are already attending a class and wish to remove your name from the list click the appropriate class</p>
                <div>
                    Key: <button class="btn red-bg key-button">Full</button><button class="btn yellow-bg key-button">Available</button><button class="btn green-bg key-button">Attending</button>
                </div>
                </div>

            <div class="col-12 table-responsive-xl">   
                <table class="table table-bordered">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Monday</th>
								<th scope="col">Tuesday</th>
								<th scope="col">Wednesday</th>
								<th scope="col">Thursday</th>
								<th scope="col">Friday</th>
								<th scope="col">Saturday</th>
								<th scope="col">Sunday</th>
							</tr>
						</thead>
						<tbody>
                           
							<tr>
                            
                                    <th scope="row">06:00-07:00</th>
                                    
                             {% for class in classes %}
                                {% if class.class_time == "06:00-07:00" %}
                                    {% if class.class_day == "Monday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Tuesday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Wednesday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Thursday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Friday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Saturday" %}
                                    <td class="{% if class.pk in user_classes  %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                   {% if class.class_day == "Sunday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}	
							</tr>
							<tr>
                                <th scope="row">07:00-08:00</th>
                            {% for class in classes %}
                                {% if class.class_time == "07:00-08:00" %}
                                    {% if class.class_day == "Monday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Tuesday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Wednesday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Thursday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Friday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Saturday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                   {% if class.class_day == "Sunday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}	
								
							</tr>
							<tr>
                                <th scope="row">08:00-09:00</th>
                                {% for class in classes %}
                                {% if class.class_time == "08:00-09:00" %}
{% if class.class_day == "Monday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Tuesday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Wednesday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Thursday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Friday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Saturday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                   {% if class.class_day == "Sunday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
								
							</tr>
							<tr>
                                <th scope="row">13:00-14:00</th>
                                {% for class in classes %}
                                {% if class.class_time == "13:00-14:00" %}
                                    {% if class.class_day == "Monday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Tuesday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Wednesday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Thursday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Friday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Saturday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                   {% if class.class_day == "Sunday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
								
							</tr>
							<tr>
                                <th scope="row">14:00-15:00</th>
                                {% for class in classes %}
                                {% if class.class_time == "14:00-15:00" %}
                                    {% if class.class_day == "Monday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Tuesday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Wednesday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Thursday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Friday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Saturday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                   {% if class.class_day == "Sunday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
								
							</tr>
							<tr>
                                <th scope="row">15:00-16:00</th>
                                {% for class in classes %}
                                {% if class.class_time == "15:00-16:00" %}
                                    {% if class.class_day == "Monday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Tuesday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Wednesday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Thursday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Friday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Saturday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                   {% if class.class_day == "Sunday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
								
							</tr>
							<tr>
                                <th scope="row">18:00-19:00</th>
                                {% for class in classes %}
                                {% if class.class_time == "18:00-19:00" %}
                                    {% if class.class_day == "Monday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Tuesday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Wednesday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Thursday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Friday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                    {% if class.class_day == "Saturday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                   {% if class.class_day == "Sunday" %}
                                    <td class="{% if class.pk in user_classes %} green-bg {% elif class.attending|length == class.max_attending %} red-bg {% else %} yellow-bg {% endif%}"><button type="submit" class="class-signup-btn" data-classId="{{ class.pk }}" data-color="{% if class.pk in user_classes %}green{% else %}yellow{% endif%}">{{ class.name }}</button></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
								
							</tr>
						</tbody>
					</table>
                </div>

            </div>
            {% endif %}
        </div>
            

{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'classes/js/classes.js' %}"></script>
{% endblock %}